<html lang='pt-br'>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/images/logo.ico">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/styles/App.css">
        <title>Full Stack Eletro</title>

    </head>
    <header>
        <%- include('../partials/menu.ejs') %>
    </header>

    <body>  
        <div class="container-fluid"> 
            <h1>Seja bem vindo(a)!</h1>
            <p> Aqui em nossa loja, <i>programadores tem desconto</i> nos produtos para sua casa!</p>
        </div>  
    </body>
    
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

</html>

