<!Doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/styles/App.css">
    </head>

    <body>
        <div>
            <p class="nav justify-content-center" id="cor_destaque">Formas de Pagamento:</p>
            <div class="nav justify-content-center"> 
                <img width="30%" src="images/formas_de_pagamento.jpg" alt="Formas de pagamento"/> 
            </div>
            <p class=" nav fixed-bottom col text-white justify-content-center bg-danger" id="recodepro">&copy;Recode Pro</p>
        </div>
    </body>

</html>




